<h1>New Week Entry</h1>
<h3>Year: 2017</h3>
<h3>Quarter: 1</h3>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="container">
    <form #f="ngForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-sm-2">
          <h4>Category</h4>
        </div>
        <div class="col-sm-1">
          <h4>Monday</h4>
        </div>
        <div class="col-sm-1">
          <h4>Tuesday</h4>
        </div>
        <div class="col-sm-1">
          <h4>Wednesday</h4>
        </div>
        <div class="col-sm-1">
          <h4>Thursday</h4>
        </div>
        <div class="col-sm-1">
          <h4>Friday</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p>Governance, Leadership, and Strategic Planning</p>
        </div>
        <div class="col-sm-1">
          <input id="mon1" type="text" class="form-control" [(ngModel)]="entries[0].mon" name="mon1" required #mon1="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue1" type="text" class="form-control" [(ngModel)]="entries[0].tue" name="tue1" required #tue1="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed1" type="text" class="form-control" [(ngModel)]="entries[0].wed" name="wed1" required #wed1="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs1" type="text" class="form-control" [(ngModel)]="entries[0].thurs" name="thurs1" required #thurs1="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri1" type="text" class="form-control" [(ngModel)]="entries[0].fri" name="fri1" required #fri1="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Student and Other Stakeholder Focus</p>
        </div>
        <div class="col-sm-1">
          <input id="mon2" type="text" class="form-control" [(ngModel)]="entries[1].mon" name="mon2" required #mon2="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue2" type="text" class="form-control" [(ngModel)]="entries[1].tue" name="tue2" required #tue2="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed2" type="text" class="form-control" [(ngModel)]="entries[1].wed" name="wed2" required #wed2="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs2" type="text" class="form-control" [(ngModel)]="entries[1].thurs" name="thurs2" required #thurs2="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri2" type="text" class="form-control" [(ngModel)]="entries[1].fri" name="fri2" required #fri2="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Faculty and Staff Focus</p>
        </div>
        <div class="col-sm-1">
          <input id="mon3" type="text" class="form-control" [(ngModel)]="entries[2].mon" name="mon3" required #mon3="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue3" type="text" class="form-control" [(ngModel)]="entries[2].tue" name="tue3" required #tue3="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed3" type="text" class="form-control" [(ngModel)]="entries[2].wed" name="wed3" required #wed3="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs3" type="text" class="form-control" [(ngModel)]="entries[2].thurs" name="thurs3" required #thurs3="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri3" type="text" class="form-control" [(ngModel)]="entries[2].fri" name="fri3" required #fri3="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Educational Programs and Support</p>
        </div>
        <div class="col-sm-1">
          <input id="mon4" type="text" class="form-control" [(ngModel)]="entries[3].mon" name="mon4" required #mon4="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue4" type="text" class="form-control" [(ngModel)]="entries[3].tue" name="tue4" required #tue4="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed4" type="text" class="form-control" [(ngModel)]="entries[3].wed" name="wed4" required #wed4="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs4" type="text" class="form-control" [(ngModel)]="entries[3].thurs" name="thurs4" required #thurs4="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri4" type="text" class="form-control" [(ngModel)]="entries[3].fri" name="fri4" required #fri4="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Data Driven Improvement</p>
        </div>
        <div class="col-sm-1">
          <input id="mon5" type="text" class="form-control" [(ngModel)]="entries[4].mon" name="mon5" required #mon5="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue5" type="text" class="form-control" [(ngModel)]="entries[4].tue" name="tue5" required #tue5="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed5" type="text" class="form-control" [(ngModel)]="entries[4].wed" name="wed5" required #wed5="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs5" type="text" class="form-control" [(ngModel)]="entries[4].thurs" name="thurs5" required #thurs5="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri5" type="text" class="form-control" [(ngModel)]="entries[4].fri" name="fri5" required #fri5="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Chartered Nonpublic Schools</p>
        </div>
        <div class="col-sm-1">
          <input id="mon6" type="text" class="form-control" [(ngModel)]="entries[5].mon" name="mon6" required #mon6="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue6" type="text" class="form-control" [(ngModel)]="entries[5].tue" name="tue6" required #tue6="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed6" type="text" class="form-control" [(ngModel)]="entries[5].wed" name="wed6" required #wed6="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs6" type="text" class="form-control" [(ngModel)]="entries[5].thurs" name="thurs6" required #thurs6="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri6" type="text" class="form-control" [(ngModel)]="entries[5].fri" name="fri6" required #fri6="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Teacher Residency</p>
        </div>
        <div class="col-sm-1">
          <input id="mon7" type="text" class="form-control" [(ngModel)]="entries[6].mon" name="mon7" required #mon7="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue7" type="text" class="form-control" [(ngModel)]="entries[6].tue" name="tue7" required #tue7="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed7" type="text" class="form-control" [(ngModel)]="entries[6].wed" name="wed7" required #wed7="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs7" type="text" class="form-control" [(ngModel)]="entries[6].thurs" name="thurs7" required #thurs7="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri7" type="text" class="form-control" [(ngModel)]="entries[6].fri" name="fri7" required #fri7="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Professional or Associate License Renewal</p>
        </div>
        <div class="col-sm-1">
          <input id="mon8" type="text" class="form-control" [(ngModel)]="entries[7].mon" name="mon8" required #mon8="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue8" type="text" class="form-control" [(ngModel)]="entries[7].tue" name="tue8" required #tue8="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed8" type="text" class="form-control" [(ngModel)]="entries[7].wed" name="wed8" required #wed8="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs8" type="text" class="form-control" [(ngModel)]="entries[7].thurs" name="thurs8" required #thurs8="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri8" type="text" class="form-control" [(ngModel)]="entries[7].fri" name="fri8" required #fri8="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Transportation of Pupils</p>
        </div>
        <div class="col-sm-1">
          <input id="mon9" type="text" class="form-control" [(ngModel)]="entries[8].mon" name="mon9" required #mon9="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue9" type="text" class="form-control" [(ngModel)]="entries[8].tue" name="tue9" required #tue9="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed9" type="text" class="form-control" [(ngModel)]="entries[8].wed" name="wed9" required #wed9="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs9" type="text" class="form-control" [(ngModel)]="entries[8].thurs" name="thurs9" required #thurs9="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri9" type="text" class="form-control" [(ngModel)]="entries[8].fri" name="fri9" required #fri9="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Federally Funded Education Programs</p>
        </div>
        <div class="col-sm-1">
          <input id="mon10" type="text" class="form-control" [(ngModel)]="entries[9].mon" name="mon10" required #mon10="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue10" type="text" class="form-control" [(ngModel)]="entries[9].tue" name="tue10" required #tue10="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed10" type="text" class="form-control" [(ngModel)]="entries[9].wed" name="wed10" required #wed10="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs10" type="text" class="form-control" [(ngModel)]="entries[9].thurs" name="thurs10" required #thurs10="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri10" type="text" class="form-control" [(ngModel)]="entries[9].fri" name="fri10" required #fri10="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Unemployment and Workers Compensation</p>
        </div>
        <div class="col-sm-1">
          <input id="mon11" type="text" class="form-control" [(ngModel)]="entries[10].mon" name="mon11" required #mon11="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue11" type="text" class="form-control" [(ngModel)]="entries[10].tue" name="tue11" required #tue11="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed11" type="text" class="form-control" [(ngModel)]="entries[10].wed" name="wed11" required #wed11="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs11" type="text" class="form-control" [(ngModel)]="entries[10].thurs" name="thurs11" required #thurs11="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri11" type="text" class="form-control" [(ngModel)]="entries[10].fri" name="fri11" required #fri11="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Pupil Appraisal</p>
        </div>
        <div class="col-sm-1">
          <input id="mon12" type="text" class="form-control" [(ngModel)]="entries[11].mon" name="mon12" required #mon12="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue12" type="text" class="form-control" [(ngModel)]="entries[11].tue" name="tue12" required #tue12="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed12" type="text" class="form-control" [(ngModel)]="entries[11].wed" name="wed12" required #wed12="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs12" type="text" class="form-control" [(ngModel)]="entries[11].thurs" name="thurs12" required #thurs12="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri12" type="text" class="form-control" [(ngModel)]="entries[11].fri" name="fri12" required #fri12="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Health and Health Testing</p>
        </div>
        <div class="col-sm-1">
          <input id="mon13" type="text" class="form-control" [(ngModel)]="entries[12].mon" name="mon13" required #mon13="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue13" type="text" class="form-control" [(ngModel)]="entries[12].tue" name="tue13" required #tue13="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed13" type="text" class="form-control" [(ngModel)]="entries[12].wed" name="wed13" required #wed13="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs13" type="text" class="form-control" [(ngModel)]="entries[12].thurs" name="thurs13" required #thurs13="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri13" type="text" class="form-control" [(ngModel)]="entries[12].fri" name="fri13" required #fri13="ngModel">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-2">
          <p>Other</p>
        </div>
        <div class="col-sm-1">
          <input id="mon14" type="text" class="form-control" [(ngModel)]="entries[13].mon" name="mon14" required #mon14="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="tue14" type="text" class="form-control" [(ngModel)]="entries[13].tue" name="tue14" required #tue14="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="wed14" type="text" class="form-control" [(ngModel)]="entries[13].wed" name="wed14" required #wed14="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="thurs14" type="text" class="form-control" [(ngModel)]="entries[13].thurs" name="thurs14" required #thurs14="ngModel">
        </div>
        <div class="col-sm-1">
          <input id="fri14" type="text" class="form-control" [(ngModel)]="entries[13].fri" name="fri14" required #fri14="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</form>