<div class="row">
    <div class="card">
        <div class="card-header" role="tab" id="headingThirteen">
            <h4 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                    13. Health and Health Testing
                </a>
            </h4>
        </div>

        <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen">
            <div class="card-block">
                <div class="col-sm-1">
                    <input id="mon13" type="text" class="form-control" [(ngModel)]="entries[12].mon" name="mon13" required #mon13="ngModel">
                </div>
                <div class="col-sm-1">
                    <input id="tue13" type="text" class="form-control" [(ngModel)]="entries[12].tue" name="tue13" required #tue13="ngModel">
                </div>
                <div class="col-sm-1">
                    <input id="wed13" type="text" class="form-control" [(ngModel)]="entries[12].wed" name="wed13" required #wed13="ngModel">
                </div>
                <div class="col-sm-1">
                    <input id="thurs13" type="text" class="form-control" [(ngModel)]="entries[12].thurs" name="thurs13" required #thurs13="ngModel">
                </div>
                <div class="col-sm-1">
                    <input id="fri13" type="text" class="form-control" [(ngModel)]="entries[12].fri" name="fri13" required #fri13="ngModel">
                </div>
            </div>
        </div>
    </div>
</div>